body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-content: center;
    text-align: center;
    justify-content: center;
    overflow-y: hidden;
}
.theme {
    background: rgb(224,76,141);
    background: linear-gradient(240deg, rgba(224,76,141,1) 0%, rgba(51,133,230,1) 100%);
    color: #ffffff;
    background-repeat: no-repeat;
}
.theme2 {
    background: rgb(224,76,141);
    background: linear-gradient(240deg, rgba(224,76,141,1) 0%, rgba(51,133,230,1) 100%);
    color: #ffffff;
    background-repeat: no-repeat;
}
.theme3 {
    background: rgb(224,76,141);
    background: linear-gradient(240deg, rgba(224,76,141,1) 0%, rgba(51,133,230,1) 100%);
    color: #ffffff;
    background-repeat: no-repeat;
}

h1{
    font-size: 8vh;
}
.contain{
    height: 90vh;
}
.contain1{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* padding: 30px; */
}

.res{
    padding-left:0%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside{
    text-align: center;
    width: 100%;
    height: max-content;
    display: flex;
    align-content: center;
    justify-content:center;

}

.inside button{
    right: 45vmin;
    padding: 15px;
    border: none;
    justify-content: center;
    align-items: center;
    width:fit-content;
    border: 1px white;
}
.inside ol {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.res ol{
    justify-content: center;
    list-style: none;
    padding: 0%;
    width: 50%;
    background: rgb(170,94,169);
    background: linear-gradient(90deg, rgba(170,94,169,1) 23%, rgba(213,80,147,1) 32%, rgba(220,78,78,1) 46%, rgba(224,76,141,1) 100%, rgba(51,133,230,1) 100%);
    border: 1px solid white;
    border-radius: 1rem;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}
form{
    display: flex   ;
    width: 100%;
    align-items:center;
    justify-content: center;

}
form input{
    width: 50%;
    border: none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding: 15px;
    outline: none;
    
}
form button{
    padding: 15px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: none;
}
.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
